.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.pagination-button {
  border: none;
  padding: 10px;
  margin: 0 5px;
  cursor: pointer;
  background-color: #1e90ff; /* Màu xanh */
  color: #fff;
  border-radius: 50%; /* Hình tròn */
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-button.active {
  background-color: #1e90ff; /* Giữ nguyên màu xanh khi nút active */
}

.pagination-button:disabled {
  background-color: #555;
  cursor: not-allowed;
}

.content {
  text-align: center;
}