.header {
    background: #12232E;
    width: 100%;

}

.header h1 {
    color: white;
    position: relative;
    bottom: 20px;
    left: 30px;

}

.header p {
    color: white;
    position: relative;
    bottom: 20px;
    left: 30px
}