.customer-reviews {
    padding: 40px;
    background-color: #111;
    text-align: center;
}

.reviews-slider {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* Để các card tự động xuống hàng khi không đủ không gian */
    margin-bottom: 20px;
}

.review-card {
    background-color: #222;
    margin: 10px;
    /* Giảm margin để hai xe có thể đứng cạnh nhau */
    width: 45%;
    /* Điều chỉnh độ rộng để hiển thị hai xe trên cùng một hàng */
    border-radius: 10px;
    overflow: hidden;
    text-align: left;
    color: white;
    font-size: 18px;
}

.review-image {
    height: 250px;
    background-size: cover;
    background-position: center;
}

.review-content {
    padding: 20px;
}

.review-content h3 {
    margin-bottom: 10px;
    font-size: 22px;
    color: white;

}

.review-content h4 {
    margin-bottom: 10px !important;
    font-size: 20px !important;
    color: white !important;
    margin: top 10px !important;
}

.review-content ul {
    list-style: none;
    padding: 0;
    margin-bottom: 10px;
}

.review-content ul li {
    margin-bottom: 5px;
}

.rating {
    color: gold;
    font-size: 24px;
}

.navigation {
    display: flex !important;
    justify-content: center !important;
    gap: 50px !important;
}

.navigation button {
    background: none;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

ul>li {
    list-style: none;
    color: white
}